absl-py==0.10.0
aiohttp==3.6.2
alembic==1.7.1
altair==4.1.0
argon2-cffi==20.1.0
arrow==1.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
autopage==0.4.0
backcall==0.2.0
base58==2.0.1
beautifulsoup4==4.9.2
bertopic==0.6.0
binaryornot==0.4.4
bleach==3.2.1
blinker==1.4
blis==0.4.1
bokeh==2.3.2
boto3==1.16.3
botocore==1.19.3
brat-reader==0.0.0
bs4==0.0.1
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cliff==3.9.0
cmaes==0.8.2
cmd2==2.1.2
colorama==0.4.4
colorlog==6.4.1
configparser==5.0.1
cookiecutter==1.7.3
corenlp-xml-reader==0.1.3
cycler==0.10.0
cymem==2.0.4
cython==0.29.24
dataclasses==0.7
datasets==1.6.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.3
docker-pycreds==0.4.0
emoji==1.2.0
en-core-web-lg==2.3.1
entrypoints==0.3
enum-compat==0.0.3
filelock==3.0.12
fsspec==2021.4.0
gast==0.3.3
gensim==3.8.3
gitdb==4.0.5
gitpython==3.1.11
google-auth-oauthlib==0.4.1
google-auth==1.22.0
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
hdbscan==0.8.27
huggingface-hub==0.0.16
idna-ssl==1.1.0
idna==2.10
importlib-metadata==2.0.0
importlib-resources==5.2.2
ipykernel==5.3.4
ipython-genutils==0.2.0
ipython==7.16.1
ipywidgets==7.6.3
jedi==0.17.2
jinja2-time==0.2.0
jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras-preprocessing==1.1.2
keras==2.4.3
kiwisolver==1.2.0
krippendorff==0.4.0
littleutils==0.2.2
llvmlite==0.36.0
lxml==4.6.3
mako==1.1.5
markdown==3.2.2
markupsafe==1.1.1
matlab==0.1
matplotlib==3.3.2
mendelai-brat-parser==0.0.4
mesa==0.8.9
mistune==0.8.4
msgpack==1.0.2
multidict==4.7.6
multiprocess==0.70.11.1
multiprocessing-utils==0.4
murmurhash==1.0.4
mysql-connector-python==8.0.21
natsort==7.1.1
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
networkx==2.5
neuralcoref==4.0
nltk==3.5
notebook==6.1.4
numba==0.53.1
numpy==1.19.2
nvidia-ml-py==11.450.51
nvitop==0.2.4.3
oauthlib==3.1.0
openai==0.6.3
opt-einsum==3.3.0
optuna==2.9.1
outdated==0.2.0
packaging==21.0
pandas-flavor==0.2.0
pandas==1.1.5
pandocfilters==1.4.3
panel==0.11.3
param==1.10.1
parc-reader==0.1.5
parso==0.7.1
pathtools==0.1.2
patsy==0.5.1
pbr==5.6.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==7.2.0
pingouin==0.3.9
pip==21.2.4
pkg-resources==0.0.0
plac==1.1.3
plotly==4.14.2
polnear==0.0.0
poyo==0.5.0
preshed==3.0.3
prettytable==2.2.0
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.7
protobuf==3.17.3
psutil==5.7.2
ptyprocess==0.6.0
pyarrow==2.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyct==0.4.8
pydeck==0.5.0b1
pygments==2.7.1
pynndescent==0.5.4
pyparsing==2.4.7
pyperclip==1.8.2
pyro4==4.80
pyrsistent==0.17.3
pysocks==1.7.1
python-dateutil==2.8.1
python-slugify==5.0.2
pytz==2020.1
pyviz-comms==2.0.1
pyyaml==5.3.1
pyzmq==19.0.2
ray==1.6.0
redis==3.5.3
regex==2020.9.27
requests-oauthlib==1.3.0
requests==2.24.0
retrying==1.3.3
rouge-score==0.0.4
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.11.0
send2trash==1.5.0
sentence-transformers==2.1.0
sentencepiece==0.1.91
sentry-sdk==0.19.1
seqeval==1.2.1
serpent==1.30.2
setproctitle==1.2.2
setuptools==50.3.0
shortuuid==1.0.1
simpletransformers==0.48.14
six==1.15.0
smart-open==3.0.0
smmap==3.0.4
snap-stanford==6.0.0
snscrape==0.3.4
soupsieve==2.0.1
spacy==2.3.2
sqlalchemy==1.3.19
srsly==1.0.3
statsmodels==0.12.2
stevedore==3.4.0
streamlit==0.69.2
subprocess32==3.5.4
t4k==0.6.4
tabulate==0.8.7
tastypy==0.0.3
tblib==1.7.0
tensorboard-plugin-wit==1.7.0
tensorboard==2.3.0
tensorboardx==2.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-hub==0.9.0
tensorflow==2.3.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.10.3
toml==0.10.1
toolz==0.11.1
torch==1.7.1
torchvision==0.8.2
tornado==6.0.4
tqdm==4.49.0
traitlets==4.3.3
transformers==4.10.0
typing-extensions==3.7.4.3
tzlocal==2.1
umap-learn==0.5.1
urllib3==1.25.10
vadersentiment==3.3.2
validators==0.18.1
wandb==0.10.8
wasabi==0.8.0
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.16.2
xlrd==1.2.0
xxhash==2.0.2
yarl==1.6.0
zipp==3.2.0